In [1]:
import pandas as pd
from create_dataset import create_combined_dataset

## Create dataset for MADRID-MEXICO flights

In [7]:
start_date = '2023-10-01'
end_date = '2023-11-10'
currency_pairs = ['EURMXN=X', 'EURTRY=X']
origin = 'MAD'
destination = 'MEX'
currency = 'EUR'

madmex = create_combined_dataset(start_date, end_date, currency_pairs, origin, destination, currency)
madmex

Error on 2023-10-09: Failed to retrieve flight price analysis
Error on 2023-10-24: Failed to retrieve flight price analysis
Error on 2023-11-01: Failed to retrieve flight price analysis
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

,date,origin,destination,currency_code,minimum_price,first_quartile_price,median_price,third_quartile_price,maximum_price,EURMXN=X_Close,EURTRY=X_Close
0,2023-10-01,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,NaN,NaN
1,2023-10-02,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,18.388399,28.975800
2,2023-10-03,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,18.523100,28.756849
3,2023-10-04,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,18.866400,28.817539
4,2023-10-05,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,18.900801,28.928591
5,2023-10-06,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,19.275999,29.079140
6,2023-10-07,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,NaN,NaN
7,2023-10-08,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,NaN,NaN
8,2023-10-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.274799,29.215561
9,2023-10-10,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,19.260599,29.319349
10,2023-10-11,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,19.018320,29.412741
11,2023-10-12,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,18.952600,29.413280
12,2023-10-13,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,18.933500,29.232630
13,2023-10-14,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,NaN,NaN
14,2023-10-15,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,NaN,NaN
15,2023-10-16,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,18.989700,28.972481
16,2023-10-17,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,18.899891,29.399620
17,2023-10-18,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,19.044800,29.558270
18,2023-10-19,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,19.229000,29.526449
19,2023-10-20,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,19.391199,29.651791
20,2023-10-21,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,NaN,NaN
21,2023-10-22,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,NaN,NaN
22,2023-10-23,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,19.285101,29.661150
23,2023-10-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.357500,29.960970
24,2023-10-25,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,19.344801,29.790649
25,2023-10-26,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,19.378500,29.743670
26,2023-10-27,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,19.171900,29.737801
27,2023-10-28,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,NaN,NaN
28,2023-10-29,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,NaN,NaN
29,2023-10-30,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,19.122299,29.786699
30,2023-10-31,MAD,MEX,EUR,94.61,1129.04,1330.01,1446.28,1615.96,19.168900,29.992661
31,2023-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.104361,29.942940
32,2023-11-02,MAD,MEX,EUR,94.65,1117.54,1340.44,1435.55,1610.84,18.803699,29.986811
33,2023-11-03,MAD,MEX,EUR,94.65,1117.54,1340.44,1435.55,1610.84,18.618601,30.174789
34,2023-11-04,MAD,MEX,EUR,94.65,1117.54,1340.44,1435.55,1610.84,NaN,NaN
35,2023-11-05,MAD,MEX,EUR,94.65,1117.54,1340.44,1435.55,1610.84,NaN,NaN
36,2023-11-06,MAD,MEX,EUR,94.65,1117.54,1340.44,1435.55,1610.84,18.749121,30.451521
37,2023-11-07,MAD,MEX,EUR,94.65,1117.54,1340.44,1435.55,1610.84,18.807501,30.489969
38,2023-11-08,MAD,MEX,EUR,94.65,1117.54,1340.44,1435.55,1610.84,18.698200,30.474810
39,2023-11-09,MAD,MEX,EUR,94.65,1117.54,1340.44,1435.55,1610.84,18.782101,30.541170
40,2023-11-10,MAD,MEX,EUR,94.65,1117.54,1340.44,1435.55,1610.84,NaN,NaN

In [6]:
combined_df['median_price'].unique()

array([1340.44,     nan, 1385.29])

## Create dataset for MADRID-ISTAMBUL flights

In [8]:
start_date = '2023-10-01'
end_date = '2023-11-10'
currency_pairs = ['EURMXN=X', 'EURTRY=X']
origin = 'MAD'
destination = 'IST'
currency = 'EUR'

madist = create_combined_dataset(start_date, end_date, currency_pairs, origin, destination, currency)
madist

Error on 2023-10-09: Failed to retrieve flight price analysis
Error on 2023-10-11: Failed to retrieve flight price analysis
Error on 2023-10-16: Failed to retrieve flight price analysis
Error on 2023-11-04: Failed to retrieve flight price analysis
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

,date,origin,destination,currency_code,minimum_price,first_quartile_price,median_price,third_quartile_price,maximum_price,EURMXN=X_Close,EURTRY=X_Close
0,2023-10-01,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,NaN,NaN
1,2023-10-02,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,18.388399,28.975800
2,2023-10-03,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,18.523100,28.756849
3,2023-10-04,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,18.866400,28.817539
4,2023-10-05,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,18.900801,28.928591
5,2023-10-06,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,19.275999,29.079140
6,2023-10-07,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,NaN,NaN
7,2023-10-08,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,NaN,NaN
8,2023-10-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.274799,29.215561
9,2023-10-10,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,19.260599,29.319349
10,2023-10-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.018320,29.412741
11,2023-10-12,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,18.952600,29.413280
12,2023-10-13,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,18.933500,29.232630
13,2023-10-14,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,NaN,NaN
14,2023-10-15,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,NaN,NaN
15,2023-10-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.989700,28.972481
16,2023-10-17,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,18.899891,29.399620
17,2023-10-18,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,19.044800,29.558270
18,2023-10-19,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,19.229000,29.526449
19,2023-10-20,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,19.391199,29.651791
20,2023-10-21,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,NaN,NaN
21,2023-10-22,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,NaN,NaN
22,2023-10-23,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,19.285101,29.661150
23,2023-10-24,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,19.357500,29.960970
24,2023-10-25,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,19.344801,29.790649
25,2023-10-26,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,19.378500,29.743670
26,2023-10-27,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,19.171900,29.737801
27,2023-10-28,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,NaN,NaN
28,2023-10-29,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,NaN,NaN
29,2023-10-30,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,19.122299,29.786699
30,2023-10-31,MAD,IST,EUR,81.63,417.07,429.97,447.32,494.95,19.168900,29.992661
31,2023-11-01,MAD,IST,EUR,81.23,389.28,403.05,429.10,479.50,19.104361,29.942940
32,2023-11-02,MAD,IST,EUR,81.23,389.28,403.05,429.10,479.50,18.803699,29.986811
33,2023-11-03,MAD,IST,EUR,81.23,389.28,403.05,429.10,479.50,18.618601,30.174789
34,2023-11-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2023-11-05,MAD,IST,EUR,81.23,389.28,403.05,429.10,479.50,NaN,NaN
36,2023-11-06,MAD,IST,EUR,81.23,389.28,403.05,429.10,479.50,18.749121,30.451521
37,2023-11-07,MAD,IST,EUR,81.23,389.28,403.05,429.10,479.50,18.807501,30.489969
38,2023-11-08,MAD,IST,EUR,81.23,389.28,403.05,429.10,479.50,18.698200,30.474810
39,2023-11-09,MAD,IST,EUR,81.23,389.28,403.05,429.10,479.50,18.782101,30.541170
40,2023-11-10,MAD,IST,EUR,81.23,389.28,403.05,429.10,479.50,NaN,NaN